<div class="ui two column grid">
    <div class="column">
        {% component 'semantic~panel' %}
            {% set close_button = false %}
            <div class="mt-8">      
                <div class="ui horizontal divider header">
                    {{ labels.drivers }}
                </div>
                <div id="driver_config">
                    {{  component('system:admin.drivers.list',{ 
                            category: 'service.server.client',                   
                            buttons: buttons 
                        }) 
                    }}
                </div>
            </div>
        {% endcomponent %}
    </div>
    <div class="column" id="driver_config_panel">
    </div>
</div>