{% set service = package('service').getPackageProperties(service_name) %}
<div class="ui raised card" id="{{ service.name }}">     
    <div class="flex flex-row items-center p-2 border-0 border-b border-solid border-gray-300">    
        <div class="pl-1">
            <i class="left floated large blue icon {{ service.get('admin-menu').icon }}"></i>       
        </div>                                                 
        <div class="font-bold mt-1 px-1 flex-grow">
            {{ service.title }}
        </div>   
        <div class="ui horizontal green mini label primary-label">               
            {{ labels.primary }}            
        </div>
    </div>       
    <div class="flex flex-col self-stretch p-2 flex-grow">
        <div class="p-1">
            <div class="ui horizontal basic mini label">               
                {{ labels.version }} 
                <div class="detail">{{ service.version }}</div>
            </div>  
        </div>  
        <div class='self-stretch flex-grow p-1'>
            <p>{{ service.description }}</p>                     
        </div>                 
    </div>        
    <div class="p-2">
        <div class="ui success mini message opacity-0 m-2" id="message_{{ service.name }}">
            <i class="close icon"></i>
        </div>
    </div>   
    <div class="extra content">
        <div class="flex flex-row items-center px-1"> 
            <button 
                class="ui basic icon mini button details-button" 
                service="{{ service.name }}" 
                title="{{ buttons.detail.title }}">
                <i class="icon list layout"></i>                                  
            </button>  
        </div>
    </div>
</div>